.container {
  position: absolute;
  top: 30%;
  left: 20%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}
